<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Polymer Starter Kit">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>@ViewBag.Title</title>

    <!-- Polymer Core -->
    <script type="text/javascript" src="~/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="~/bower_components/polymer/polymer.html" />

    <style>
        html, body {
            margin: 0;
            font-family: 'Roboto', 'Noto', sans-serif;
            line-height: 1.5;
            height: 100%;
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", false)
</body>
</html>